<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clare Accounting</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Clare Accounting</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true" role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="mat-list-item-active">
          <i class="material-icons">dashboard</i> Dashboard
        </a>
        <a mat-list-item routerLink="/sales" routerLinkActive="mat-list-item-active">
          <i class="material-icons">attach_money</i> Sales
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
</html>